body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 2fr 12fr 2fr/repeat(7,1fr);
    grid-template-rows: 10% 80% 10%;
}
p{
    color: green;
}
header{
    border:yellowgreen 2px solid;
    grid-area: 1/1/2/8;
}
main{
    border: rgb(224, 196, 143) 2px solid;
    grid-area: 2/1/4/8;
}
footer{
    border:2px rgb(230, 136, 136) solid;
    grid-area: 3 / 1 /3 / 8 ;
}
